{{define "call"}}{{with .Receiver}}{{if not .IsStruct}}tt.{{end}}{{Receiver .}}.{{end}}{{.Name}}({{range $i, $el := .Parameters}}{{if $i}}, {{end}}{{if .IsInterface}}{{if and (eq .Type.Interface.ImportPath "context") (eq .Type.Interface.Name "Context") }}context.Background(){{else}}tt.{{Param .}}(ctl){{end}}{{else}}tt.{{Param .}}{{end}}{{if .Type.IsVariadic}}...{{end}}{{end}}){{end}}