{{define "assertion" -}}
if !tt.wantErr(t, err
{{- if or (not .Subtests) .PrintInputs -}}
    , fmt.Sprintf("{{template "message" .}}", {{template "inputs" .}})
{{- end -}}
) {
    return
}
{{- end}}


{{define "equal"}}assert.Equal{{if or (not .Subtests) .PrintInputs}}f{{end}}{{end}}

{{define "msg"}} , "{{template "message" .}}", {{template "inputs" .}}{{end}}


{{define "function"}}
{{- $f := .}}

func {{.TestName}}(t *testing.T) {
    {{- if .Parallel }}
    t.Parallel()
    {{- end }}

    {{- $isInterfaceFound := false }}
	tests := {{ if .Named}}map[string]struct{{else}}[]struct{{end}} {
		{{ if (not .Named)}}name string{{end}}
		{{- with .Receiver}}
			{{- if and .IsStruct .Fields}}
				{{- range .Fields}}
                    {{- if .IsInterface}}
                        {{- $isInterfaceFound = true }}
                	    {{Field .}} func(minimock.MockController) {{.Type}}
                	{{- else }}
                	   {{Field .}} {{.Type}}
                	{{- end }}
                {{- end}}
			{{- else}}
				{{Receiver .}} {{.Type}}
			{{- end}}
		{{- end}}
		{{- range .TestParameters}}
		    {{- if .IsInterface}}
		        {{- if or (ne .Type.Interface.ImportPath "context") (ne .Type.Interface.Name "Context") }}
		            {{- $isInterfaceFound = true }}
                    {{Param .}} func(minimock.MockController) {{.Type}}
                {{- end }}
            {{- else }}
                {{Param .}} {{.Type}}
            {{- end }}
        {{- end}}
		{{- range .TestResults}}
			{{Want .}} {{.Type}}
		{{- end}}
		{{- if .ReturnsError}}
			wantErr assert.ErrorAssertionFunc
		{{- end}}
	}{
		{},
	}
	for {{if (or .Subtests (not .IsNaked))}} {{if .Named}}name{{else}}_{{end}}, tt := {{end}} range tests {
		{{- if .Subtests}}
		tt := tt
		{{- if and .Parallel .Named}}name := name;{{ end }}
		t.Run({{if .Named}}name{{else}}tt.name{{end}}, func(t *testing.T) {
			t.Parallel()
		{{- end}}

            {{- if $isInterfaceFound }}
		    ctl := minimock.NewController(t)
            {{- end }}

			{{- with .Receiver}}
				{{ if .IsStruct}}
					{{Receiver .}} := {{if .Type.IsStar}}&{{end}}{{.Type.Value}}{
					{{- range .Fields}}
					    {{- if .IsInterface}}
						    {{.Name}}: tt.{{Field .}}(ctl),
					    {{- else }}
					        {{.Name}}: tt.{{Field .}},
					    {{- end }}
					{{- end}}
					}
				{{- end}}
			{{- end}}

			{{template "results" $f}} {{template "call" $f}}
			{{- if .ReturnsError}}
                {{template "assertion" $f}}
			{{- end}}
			{{- range .TestResults}}
                {{template "equal" $f}}(t, tt.{{Want .}}, {{Got .}}, "%q. {{with $f.Receiver}}{{$f.Receiver.Type.Value}}.{{end}}{{$f.Name}}() {{Got .}} = %v, want %v", {{if not $f.Named}}tt.{{end}}name)
			{{- end}}
		{{- if .Subtests }} }) {{- end -}}
	}
}

{{end}}
